@use "../../abstracts";

.book-page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
  max-height: calc(100vh - 64px);
  @include abstracts.breakpoint(md) {
    padding: 0;
  }

  .breadcrumb {
    margin-bottom: 15px;
    font-size: 1.4rem;

    @include abstracts.breakpoint(md) {
      padding: 15px 15px 0;
      margin-bottom: 10px;
    }
  }
}

// chi tiết sản phẩm
.book-detail-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;

  @include abstracts.breakpoint(md) {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }

  .responsive-row {
    display: flex;
    flex-direction: row;

    @include abstracts.breakpoint(md) {
      flex-direction: column !important;
    }
  }

  // Gallery ảnh
  .right-column {
    padding-right: 15px;

    @include abstracts.breakpoint(md) {
      padding-right: 0;
      width: 100%;
    }

    :global(.image-gallery) {
      width: 100%;

      .image-gallery-image {
        aspect-ratio: 1/1;
        object-fit: contain;
        background-color: #fff;
      }

      .image-gallery-thumbnails-wrapper {
        margin-top: 10px;

        @include abstracts.breakpoint(sm) {
          padding: 0 10px;
        }
      }

      .image-gallery-thumbnail {
        border-radius: 2px;
        &.active,
        &:hover {
          border: 2px solid #ee4d2d;
        }
      }
    }
  }

  //  thông tin (Tên, Giá, Nút bấm)
  .left-column {
    padding-left: 20px;

    @include abstracts.breakpoint(md) {
      padding: 20px 15px;
    }

    .info-wrapper {
      .book-title {
        font-size: 2.2rem !important;
        font-weight: 500 !important;
        line-height: 2.8rem;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 15px !important;
        word-wrap: break-word;

        @include abstracts.breakpoint(md) {
          font-size: 1.8rem !important;
        }
      }

      .author-section {
        margin-bottom: 20px;
      }

      .rating-and-sold {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 1.4rem;

        .rating-text {
          margin-left: 8px;
          color: #ee4d2d;
          border-bottom: 1px solid #ee4d2d;
        }

        .separator {
          height: 14px;
          width: 1px;
          background-color: #dbdbdb;
          margin: 0 15px;
        }

        .product-sold {
          color: #757575;
          span {
            color: #222;
            font-weight: 500;
          }
        }
      }

      .price-section {
        background-color: #fafafa;
        padding: 15px 20px;
        margin-bottom: 25px;
        border-radius: 2px;

        .price-value {
          font-size: 3rem;
          font-weight: 500;
          color: #ee4d2d;

          @include abstracts.breakpoint(sm) {
            font-size: 2.4rem;
          }
        }
      }

      .quantity-control {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 1.4rem;

        .label {
          width: 110px;
          color: #757575;

          @include abstracts.breakpoint(sm) {
            width: 80px;
          }
        }

        .quantity__input-wrapper {
          display: flex;
          align-items: center;
        }

        .input-quantity {
          display: flex;
          align-items: center;
          height: 30px;
          width: 70px;
          border-radius: 0px;
          @include abstracts.breakpoint(sm) {
            width: 100px;
          }

          input {
            text-align: center;
          }
        }

        .quantity__input-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          border-radius: 0px;
          outline: none;
          border: none;
          cursor: pointer;
          background-color: #1677ff;
          color: #fff;

          &:disabled {
            background-color: #63a2fa;
          }

          &.decrease {
            border-radius: 3px 0 0 3px;
          }

          &.increase {
            border-radius: 0 3px 3px 0;
          }
        }

        .available-stock {
          color: #757575;
          margin-left: 20px;
        }
      }

      .action-buttons {
        display: flex;
        gap: 15px;

        @include abstracts.breakpoint(sm) {
          flex-direction: column;
        }

        .add-to-cart-button {
          flex: 1;
          height: 48px;
          background-color: rgba(255, 87, 34, 0.1) !important;
          color: #ee4d2d !important;
          border: 1px solid #ee4d2d !important;
          font-size: 1.4rem;
          transition: all 0.2s;

          &:hover {
            background-color: rgba(255, 87, 34, 0.15) !important;
          }
        }

        .buy-now-button {
          flex: 1;
          height: 48px;
          background-color: #ee4d2d !important;
          color: #fff !important;
          border: none !important;
          font-size: 1.4rem;

          &:hover {
            background-color: #f05d40 !important;
          }
        }
      }
    }
  }
}
