@use "../../abstracts";

.cart-table-wrapper {
  width: min(1400px, 100%);
  margin: 20px auto 0;
  padding: 0 20px;
}

// cart header
.cart-table-header__wrapper {
  position: sticky;
  top: 62px;
  height: 75px;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-end;
  z-index: 10;

  @include abstracts.breakpoint(lg) {
    display: none;
  }
}

.cart-table-header {
  width: 100%;
  border-radius: 3px;
  align-items: center;
  height: 55px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 1px 1px #0000000d;
  color: #888;
  background: #fff;
  padding: 0 20px;
  font-size: 1.4rem;
  line-height: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;

  &__checkbox {
    min-width: 58px;
    padding: 0 12px 0 20px;

    & input:checked ~ label {
      background-color: #1677ff;
      border-color: #1677ff;
    }

    & label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #00000024;
      border-radius: 2px;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      box-shadow: inset 0 2px #00000005;
      cursor: pointer;

      &::before {
        content: "";
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        width: 9px;
        height: 5px;
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }

  &__product {
    color: #000c;
    width: 43.6644%;
  }

  &__price {
    text-align: center;
    width: 14.9829%;
  }

  &__quantity {
    text-align: center;
    width: 14.5548%;
  }

  &__total-price {
    text-align: center;
    width: 9.84589%;
  }

  &__action {
    text-align: center;
    width: 11.9863%;
  }
}

// Cart item
.cart-table-item {
  border-radius: 3px;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-shadow: 0 1px 1px #0000000d;
  color: #888;
  background: #fff;
  margin-bottom: 12px;
  padding: 15px 20px;

  @include abstracts.breakpoint(lg) {
    justify-content: space-between;
  }

  @include abstracts.breakpoint(md) {
    display: none;
  }

  &__checkbox {
    min-width: 58px;
    padding: 0 12px 0 20px;

    @include abstracts.breakpoint(lg) {
      padding: 0;
      min-width: 0px;
    }

    & input:checked ~ label {
      background-color: #1677ff;
      border-color: #1677ff;
    }

    & label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #00000024;
      border-radius: 2px;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      box-shadow: inset 0 2px #00000005;
      cursor: pointer;

      &::before {
        content: "";
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        width: 9px;
        height: 5px;
        top: 3px;
        left: 3px;
        transform: rotate(-45deg);
      }
    }
  }

  &__product {
    width: 43.6644%;

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-thumb {
      width: 100px;
      height: 120px;
      border: 1px solid #ccc;
      border-radius: 5px;
      object-fit: contain;

      @include abstracts.breakpoint(lg) {
        width: 80px;
        height: 100px;
      }
    }
  }

  &__price {
    text-align: center;
    width: 14.9829%;

    @include abstracts.breakpoint(lg) {
      display: none;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.5548%;
  }

  &__total-price {
    text-align: center;
    width: 9.84589%;
  }

  &__action {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 11.9863%;

    & span {
      color: red;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
  }
}

// Cart item mobile
.cart-table-item-mobile {
  display: none;
  padding: 12px;
  gap: 12px;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin: 20px 0;

  @include abstracts.breakpoint(md) {
    display: flex;
  }

  .item-mobile-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__checkbox {
    & input:checked ~ label {
      background-color: #1677ff;
      border-color: #1677ff;
    }

    & label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #00000024;
      border-radius: 2px;
      flex-shrink: 0;
      width: 15px;
      height: 15px;
      box-shadow: inset 0 2px #00000005;
      cursor: pointer;

      &::before {
        content: "";
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        width: 9px;
        height: 5px;
        top: 3px;
        left: 3px;
        transform: rotate(-45deg);
      }
    }
  }

  &__product-thumb {
    width: 80px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .item-mobile-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    .cart-table-item__product-text {
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .cart-table-item__total-price {
      color: #ee4d2d;
      font-weight: 600;
      white-space: nowrap;
    }

    .item-mobile-action-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
    }
  }
}

// cart footer
.cart-table-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  height: 80px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #f0f0f0;

  box-shadow: 0 -8px 20px -10px rgba(0, 0, 0, 0.15);
  color: #333;

  &__checkbox {
    min-width: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include abstracts.breakpoint(md) {
      min-width: 0px;
    }

    & input:checked ~ label {
      background-color: #1677ff;
      border-color: #1677ff;

      &::before {
        opacity: 1;
        transform: rotate(-45deg) scale(1);
      }
    }

    & label {
      display: inline-block;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      position: relative;
      cursor: pointer;
      transition: all 0.2s;
      background: #fff;

      @include abstracts.breakpoint(md) {
        width: 15px;
        height: 15px;
      }

      &::before {
        content: "";
        width: 9px;
        height: 5px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg) scale(0.8);
        opacity: 0;
        transition: all 0.2s;
      }

      &:hover {
        border-color: #1677ff;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    margin-left: 10px;

    &-all {
      font-size: 15px;
      font-weight: 400;
      color: #262626;
      cursor: pointer;
      user-select: none;

      @include abstracts.breakpoint(md) {
        display: none;
      }
    }

    &-delete {
      cursor: pointer;
      background: #fff;
      border: 1px solid #ff4d4f;
      color: #ff4d4f;
      width: 100px;
      height: 44px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 4px;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      transition: all 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      @include abstracts.breakpoint(md) {
        width: 60px;
        height: 30px;
        font-size: 12px;
      }

      &:hover:not(&:disabled) {
        background: #ff4d4f !important;
        color: #fff !important;
        border-color: #ff4d4f !important;
      }

      &:active {
        background: #d9363e !important;
        border-color: #d9363e !important;
      }

      &:disabled {
        color: rgba(0, 0, 0, 0.25);
        background: #f5f5f5;
        border-color: #d9d9d9;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }

  &__product {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;

    &-total {
      font-size: 15px;
      color: #262626;

      @include abstracts.breakpoint(lg) {
        margin-left: 20px;
      }

      @include abstracts.breakpoint(md) {
        display: none;
      }
    }

    &-price {
      font-size: 22px;
      font-weight: 600;
      color: #1677ff;
      white-space: nowrap;

      @include abstracts.breakpoint(md) {
        font-size: 12px;
      }
    }
  }

  &__cta {
    & button {
      background: transparent;
      border-color: #1677ff;
      width: 180px;
      height: 44px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 4px;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

      display: flex;
      align-items: center;
      justify-content: center;

      @include abstracts.breakpoint(md) {
        width: 75px;
        height: 30px;
        font-size: 12px;
      }

      &:hover:not(&:disabled) {
        background: #1677ff !important;
        color: #fff !important;
      }
    }
  }
}
