@use "../../abstracts";

.home-page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;

  .main-content {
    margin-top: 20px;
  }

  .left-sidebar {
    @include abstracts.breakpoint(lg) {
      display: none;
    }
  }

  .list-product-container {
    .product-grid {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      @include abstracts.breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
      }
    }

    .pagination-container {
      margin-top: 30px;
      display: flex;
      justify-content: center;
    }
  }
}

.home-slider {
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    @include abstracts.breakpoint(md) {
      height: 200px;
    }
  }
}

.product__mobile-filter-icon {
  display: none;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  cursor: pointer;
  color: #757575;

  @include abstracts.breakpoint(lg) {
    display: flex;
  }
}
