.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-btn:hover .cart-preview {
  opacity: 1;
  scale: 1;
}

/* Cart preview */
.cart-preview {
  position: absolute;
  top: 36px;
  right: -8px;
  min-width: 250px;
  min-height: 120px;
  padding: 10px;
  border-radius: 3px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
  background: #fff;
  opacity: 0;
  scale: 0;
  transition: opacity 0.2s, scale 0.2s;
  transform-origin: 93% 0;
}

.cart-preview::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-preview {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Cart arrow top */
.cart-preview::before {
  content: "";
  position: absolute;
  top: -18px;
  right: 8px;
  border: 10px solid;
  border-color: transparent transparent #fff;
}

.cart-message__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 120px;
}

.cart-message {
  color: #333;
  font-size: 14px;
}

// Cart list
.cart-product__list {
  &-wrapper {
    max-height: 80vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &:-webkit-scrollbar {
      display: none;
    }
  }

  &-title {
    font-size: 1.5rem;
    color: #8b8b8b;
  }

  &-cta {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
  }

  &-btn {
    margin-top: 10px;
    background-color: #1677ff;
  }
}

// Cart item
.cart-product__item {
  &-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;

    &:last-of-type {
      border-bottom: unset;
      padding-bottom: unset;
    }
  }

  &-left {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &-thumb {
    width: 70px;
    height: 90px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &-text {
    width: 250px;
    color: #5c5c5c;
  }

  &-price {
    white-space: nowrap;
    color: #1677ff;
  }
}
