@use "../../../abstracts";

.product-card {
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12) !important;
  }

  .ant-card-cover {
    padding: 10px;
    background: #f9f9f9;
    img {
      aspect-ratio: 3/4;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  .ant-card-body {
    padding: 12px !important;
  }

  .product-title {
    height: 50px;
    margin-bottom: 8px;
    font-weight: 500;

    @include abstracts.breakpoint(md) {
      height: 40px;
      margin-bottom: 5px;
      font-weight: 400;
    }

    @include abstracts.breakpoint(sm) {
      height: 40px;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 1.25rem;
    }
  }

  .product-price {
    color: #ee4d2d;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 8px;

    @include abstracts.breakpoint(sm) {
      height: 40px;
      font-size: 1.3rem;
    }
  }

  .product-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    @include abstracts.breakpoint(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }

  .product-rating {
    font-size: 1.3rem;

    @include abstracts.breakpoint(sm) {
      font-size: 0.8rem;
    }
  }

  .product-sold {
    font-size: 1.4rem;
    color: #0000008a;

    @include abstracts.breakpoint(sm) {
      font-size: 1rem;
    }
  }
}
