@use "../abstracts";

.auth {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 25%;

  @include abstracts.breakpoint(xl) {
    max-width: 50%;
  }

  @include abstracts.breakpoint(lg) {
    max-width: 60%;
  }

  @include abstracts.breakpoint(md) {
    max-width: 80%;
  }

  @include abstracts.breakpoint(sm) {
    max-width: 90%;
  }

  &--title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.auth-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &__text {
    font-size: 1.4rem;
  }

  &__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #1677ff;
  }
}
